---
import style from "../custom.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Card">
	<!-- Wrapper Div -->
	<div class="flex h-screen flex-col items-center justify-center">
		<Card />
	</div>
</Layout>
