---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<div class="flex h-screen flex-col items-center justify-center">
		<h1
			class="mb-5 w-32 rounded-3xl border-2 border-black bg-sky-300 p-8 text-center text-4xl font-bold transition-all md:w-48 lg:w-64"
		>
			Welcome
		</h1>
		<ul class="list-disc">
			<li>
				<a
					href="card"
					class="underline decoration-yellow-500 transition-all hover:bg-slate-400 hover:decoration-teal-800"
					>Card</a
				>
			</li>
			<li class="">
				<a
					href="discord"
					class="my-5 inline-block underline decoration-yellow-500 transition-all hover:bg-slate-400 hover:decoration-teal-800"
					>Discord</a
				>
			</li>
			<li>
				<a
					href="responsive"
					class="underline decoration-yellow-500 transition-all hover:bg-slate-400 hover:decoration-teal-800"
					>Responsive</a
				>
			</li>
		</ul>

		<!-- <div class="custom-class rounded-lg">hellou test</div> -->
	</div>
</Layout>
