---
export interface Props {
	size?: "big" | "normal" | "small";
}

const { size = "normal" } = Astro.props;

let twSize = "";
switch (size) {
	case "small":
		twSize = "text-sm";
		break;
	case "big":
		twSize = "text-lg";
		break;
}
---

<button
	class={`${twSize} mt-8 rounded-full bg-sky-500 px-5 py-2 font-semibold leading-6 text-white hover:bg-sky-600 focus:outline-none focus:ring focus:ring-sky-300 active:bg-sky-700`}
	><slot />
</button>
<div class="teststyle">hey</div>

<style>
	.teststyle {
		@apply /* border:
		2px solid limegreen; */ border-2 border-green-600;
	}
</style>
